<mat-toolbar color="primary">
<h1>StarCitizen:Assistant</h1>
</mat-toolbar>

<mat-sidenav-container autosize>
<mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
    <a mat-list-item routerLink="">
        <span class="entry">
        <mat-icon>house</mat-icon>
        <span>Home</span>
        </span>
    </a>
    <a mat-list-item routerLink="/calc">
        <span class="entry">
        <mat-icon>calculate</mat-icon>
        <span>Calculator</span>
        </span>
    </a>
    <a mat-list-item routerLink="/settings">
        <span class="entry">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
        </span>
    </a>
    </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
    <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
 

  
