<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <div class="text-center">
    <button class="button" mat-flat-button color="primary" (click)="executeStarCitizen()">Execute!</button>
    <button class="button" mat-flat-button color="alert" (click)="deleteShaderCache()">Delete Shader Cache</button><br>
    <button class="button" mat-flat-button color="secondary" (click)="setSCPath()">Set RSI Folder path</button><br>
    <mat-checkbox [(ngModel)]="autoDelete" (change)="changeAutoDeleteSetting()">Auto Delete Shader</mat-checkbox>
  </div>
  <!--<a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>-->
</div>
