<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <div class="text-center">
    <button class="button" mat-flat-button color="primary" (click)="executeStarCitizen()">{{ 'PAGES.HOME.EXECUTE' | translate }}</button>
    <button class="button" mat-flat-button color="alert" (click)="deleteShaderCache()">{{ 'PAGES.HOME.DELETE_SHADER' | translate }}</button><br>
    <button class="button" mat-flat-button color="secondary" (click)="setSCPath()">{{ 'PAGES.HOME.SET_RSI_PATH' | translate }}</button>
  </div>
  
</div>
