:host {
  
}

.row {
    display: flex;
  }
  
.column {
  flex: 50%;
}

.grid-layout-custom{
  width: 85vw;
  height: 50vh;
}

.left-tile {
  width: 100%;
  text-align: left;
  margin: 20px;
}

.right-tile {
  width: 100%;
  text-align: right;
  margin: 20px;
}

.right-input {
  text-align: right;
}

.settings {
  position: absolute;
  right: 20px;
}

mat-grid-tile {
  background: rgb(80, 78, 78);
}

mat-form-field {
  width: 100%;
}

mat-grid-tile-header mat-form-field {
  
}

