<div class="container" layout-align="left" flex>
    <h1 class="title">
      Settings
    </h1>
    <h2>General Settings</h2>
    <mat-grid-list cols="2" rowHeight="60px" class="grid-layout-custom">
      <mat-grid-tile style="font-size:20px;" [colspan] = "1" [rowspan] = "1">
        <div class="left-tile">
          Auto Delete Shader
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan] = "1" [rowspan] = "1">
        <div class="right-tile">
          <mat-checkbox [(ngModel)]="autoDelete" (click)="changeAutoDeleteSetting()"></mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="font-size:20px;" [colspan] = "1" [rowspan] = "1">
        <div class="left-tile">
          Star Citizen Installation Path
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan] = "1" [rowspan] = "1">

        <mat-form-field subscriptSizing="dynamic">
          <input matInput class="right-input" [(ngModel)]="starCitizenPath" (click)="setSCPath()">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile style="font-size:20px;" [colspan] = "1" [rowspan] = "1">
        <div class="left-tile">
          Programs to start before Star Citizen
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan] = "1" [rowspan] = "1">
        <mat-form-field subscriptSizing="dynamic">
          <textarea matInput class="right-input" [(ngModel)]="starCitizenPath" (click)="setSCPath()"></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <h2>SC:A Settings</h2>
    <mat-grid-list cols="2" rowHeight="50px" class="grid-layout-custom">
      <mat-grid-tile style="font-size:20px;" [colspan] = "1" [rowspan] = "1">
        <div class="left-tile">
          Autostart SC:A with Windows
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="right-tile">
          <mat-checkbox [(ngModel)]="autoDelete" (click)="changeAutoDeleteSetting()"></mat-checkbox>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  